* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* default is 16. 62.5 is 10px in percentage*/
  font-size: 62.5%;
  overflow-x: hidden;
  /* Does not work on Safari & Edge */
  /* scroll-behavior: smooth; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.quotes-container,
.quotes-container-items {
  display: flex;
  flex-direction: column;
}

.quotes-container-items {
  row-gap: 50px;
}

.quote-image {
  transition: all 0.4s;
}

.quote-image:hover {
  transform: scale(1.02);
}

.quote-text {
  transition: all 0.4s;
}

.quote-text:hover {
  transform: scale(1.01);
}
